##                                  <div align="center">Mini Project - Python

### <div align="center">Asset Management Company Dataset

#### Objective :
To identify the best countries and a suitable investment type for making the investment.The overall strategy is to invest where other are investing,implying that the best countries are the ones where most investors are investing.

# --------------------------------------------------------------------------------------------

In [1]:
# Importing Pandas and numpy libraries.

import pandas as pd
import numpy as np

from IPython.display import display, HTML                                             ## Increasing width of notebook.
display(HTML("<style>.container { width:90% !important; }</style>"))

# 1.Reading the Rounds2,companies.txt files

In [12]:
# Reads the data from companies file.
companies = pd.read_csv('companies (1).txt',encoding='Latin-1',sep='\t')                         

# Reads the data from rounds2 file.
rounds2 = pd.read_csv('rounds2.csv',encoding='Latin-1')                                         

# Encoding as 'Latin-1': This is a is used to solve the UnicodeDecodeError, while attempting to read a file in Python

In [13]:
companies.tail(2)                                                  # Gives last 2 values of dataset companies.

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
66366,/Organization/ÃâAsys-2,Ãâasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/ÃÂ°Novatiff-Reklam-Ve-TanÃ¤Â±TÃ...,ÃÂ°novatiff Reklam ve TanÃÂ±tÃÂ±m Hizmetler...,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [14]:
rounds2.tail(2)                                                    # Gives last 2 values of dataset rounds2.

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [15]:
# Removing special characters present in companies dataframe. :
companies.permalink = companies.permalink.str.encode('utf-8').str.decode('ascii', 'ignore')
companies.name = companies.name.str.encode('utf-8').str.decode('ascii', 'ignore')
# Removing special characters present in round2 dataframe. :
rounds2.company_permalink = rounds2.company_permalink.str.encode('utf-8').str.decode('ascii', 'ignore')
rounds2.funding_round_permalink = rounds2.funding_round_permalink.str.encode('utf-8').str.decode('ascii', 'ignore')

In [16]:
rounds2.tail(2)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
114947,/ORGANIZATION/ASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/novatiff-reklam-ve-tantm-hizmetl...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

# 2.How many unique companies are present in rounds2?

In [5]:
rounds2.company_permalink = rounds2.company_permalink.str.lower()
rounds2_comp = len(rounds2['company_permalink'].unique()) 
print(f'Unique companies in rounds2 database : {rounds2_comp}')

# Using unique() function to find number of companies & omit repeated companies name.
# Using len() function to count the number of companies.

Unique companies in rounds2 database : 66368

# 3.How many unique companies are present in companies?

In [6]:
companies.permalink = companies.permalink.str.lower()
companies_comp = len(companies['permalink'].unique())
print(f'Unique companies in companies database : {companies_comp}')

# Using unique() function to find number of companies and omit repeated companies name.
# Using len() function to count the number of companies.

Unique companies in companies database : 66368

# 4.Write the code to convert companies['permalink'] and Rounds2 ['company_permalink'] columns to uppercase.

In [17]:
companies['permalink']=companies['permalink'].str.upper()                  # In Companies Dataframe

rounds2['company_permalink']=rounds2['company_permalink'].str.upper()      # In Rounds2 Dataframe

# Using .str.upper() to only convert string part in lower case to upper case in the given columns

In [18]:
companies.head(2)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014

In [19]:
rounds2.head(2)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN

# 5.Are there any companies in the rounds2 file which are not present in companies.txt ?

In [20]:
t_1 = pd.DataFrame(rounds2.company_permalink.unique())
t_2 = pd.DataFrame(companies.permalink.unique())
opt=t_2.equals(t_1)

# Now checking companies in both datasets are same or not.
if opt==True:
    print('Both companies and round2 datasets have same companies.')
else:
    print('Yes, there are companies in round2 file which are not present in comapanies file.')

Yes, there are companies in round2 file which are not present in comapanies file.

In [21]:
set(companies['permalink'].unique()).difference(set(rounds2['company_permalink'].unique()))

{'/ORGANIZATION/51WOFANG- ',
 '/ORGANIZATION/HUIZUCHE-COM- ',
 '/ORGANIZATION/LAWP D'}

In [22]:
companies['permalink']=companies['permalink'].str.replace(" ","")
rounds2['company_permalink']=rounds2['company_permalink'].str.replace("","")

In [23]:
t_1 = pd.DataFrame(rounds2.company_permalink.unique())
t_2 = pd.DataFrame(companies.permalink.unique())
opt=t_2.equals(t_1)
if opt==True:
    print('Both companies and round2 datasets have same companies.')
else:
    print('Yes, there are companies in round2 file which are not present in comapanies file.')

Both companies and round2 datasets have same companies.

# 6.Merge the two data frames so that all variables (columns) in the company's frame are added to the rounds2 data frame. Name the merged frame master_dataframe. How many observations are present in master_frame ?

In [11]:
master_dataframe=pd.merge(rounds2,companies,left_on='company_permalink',right_on='permalink')
# Using .merge() function in pandas to merge two datasets into one named "master_dataframe"
# left_on :  To use 'company_permalink' column in rounds2 dataset as key.
# right_on : To use 'permalink' column in companies dataset as key.

print(f'{master_dataframe.shape[0]} obervations are present in "master_dataframe" that are having {master_dataframe.shape[1]} columns')
print('\n\n')
master_dataframe.head()
# master_dataframe.shape[0] - Gives number of rows available in dataset.
# master_dataframe.shape[1] - Gives number of columns avilable in dataset.

114949 obervations are present in "master_dataframe" that are having 16 columns

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/ORGANIZATION/-QOUNTER,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/ORGANIZATION/0-6-COM,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

# 7.Write the code to drop the redundant column ‘'company_permalink' from the master_dataframe.

In [12]:
# Using .drop() method from pandas to drop redundant column "company_permalink"

master_dataframe=master_dataframe.drop(['company_permalink'],axis=1)
master_dataframe.head()

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007

# 8.Write the code to find the percentage missing value (column-wise) in master_dataframe. Drop unnecessary columns.

In [13]:
len_index = len(master_dataframe.index)                          ## Used to find length of master_dataframe. 
null_value = master_dataframe.isnull().sum(axis=0)               ## Finding Null value that are present, column wise.


# Prints column wise percentage missing value in master_dataframe.
print(round(100*(null_value/len_index), 2))

funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
permalink                   0.00
name                        0.00
homepage_url                5.34
category_list               2.97
status                      0.00
country_code                7.55
state_code                  9.52
region                      8.84
city                        8.84
founded_at                 17.85
dtype: float64

In [14]:
# Based on missing value percentage dropping unnecessary columns which not necessary to build stratergy to invest.
master_dataframe=master_dataframe.drop(['funding_round_permalink','funding_round_code','homepage_url','state_code','region',\
                                        'region','city','founded_at'],axis=1)
master_dataframe=master_dataframe.dropna(how='any')
master_dataframe.head(2)

,funding_round_type,funded_at,raised_amount_usd,permalink,name,category_list,status,country_code
0,venture,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,Media,operating,IND
2,seed,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,Application Platforms|Real Time|Social Network...,operating,USA

In [ ]:
# Removing or dropping rows that "NaN" or Zero as value in them.
#master_dataframe = master_dataframe[(master_dataframe != 0)]       # Drop rows that have '0' as value in any of its column.
#master_dataframe = master_dataframe.dropna()                       # Drop rows that have 'NaN' as value in any of its column.

In [ ]:
master_dataframe

# 9.Create a pivot table to compare the mean and median values for "raised_amount_usd" and "funding_round_type" across different funding round categories.

In [15]:
master_dataframe.pivot_table(values='raised_amount_usd',index='funding_round_type',aggfunc=['mean','median'])

                                   mean            median
                      raised_amount_usd raised_amount_usd
funding_round_type
angel                      9.715739e+05          414906.0
convertible_note           1.337187e+06          300000.0
debt_financing             1.716765e+07         1096653.0
equity_crowdfunding        5.098980e+05           85000.0
grant                      4.512698e+06          225000.0
non_equity_assistance      4.807534e+05           60000.0
post_ipo_debt              1.694518e+08        19900000.0
post_ipo_equity            6.607706e+07        12262852.5
private_equity             7.393849e+07        20000000.0
product_crowdfunding       1.353227e+06          211500.0
secondary_market           8.443853e+07        45850000.0
seed                       7.478279e+05          300000.0
undisclosed                1.589166e+07         1100000.0
venture                    1.172422e+07         5000000.0

# 10.Filter the master_dataframe on "raised_amount_usd" such as "raised_amount_usd" lie between 4 millions to 15 millions.

In [ ]:
master_dataframe[(master_dataframe['raised_amount_usd']>4000000) & (master_dataframe['raised_amount_usd']<15000000)]

# 11.Identify the top 9 countries in terms of highest investment in "venture" fund type.

In [ ]:
venture=master_dataframe[master_dataframe['funding_round_type']=='venture'] 
# Retaining only those rows that have fund type "venture".

f_venture=venture.groupby('country_code')['raised_amount_usd'].sum().sort_values(ascending=False) 
# Grouping countries in descending order having venture as fund type

f_venture.iloc[:9,]                                                         
# Using iloc function to display top 9 countries.

# 12.Create the "main_category" column by extracting the first value using the column "category_list".

In [ ]:
#Using Lambda and split function on column "category_list" extracting first word and saving it to a new column named "main_category".
m_category  =  master_dataframe['category_list'].apply(lambda x: str(x).split('|')[0])
master_dataframe.insert(4,'main_category',m_category)


master_dataframe.tail(10)

# 13.Using the user defined function convert the "raised amount_usd" column into a categorical column as follow-
# a)if the amount is less than 5 millions then recode as TypeA.
# b)if the amount is greater than 5 millions and less than 7 millions then recode as TypeB.
# c)if the amount is greater than 7 millions than recode as TypeC.

In [ ]:
# Using astype() function to convert the float value in "raised_amount_usd" to integer value.
master_dataframe['raised_amount_usd']=master_dataframe['raised_amount_usd'].astype(int)

#Creating a User defined function and passing "raised_amount_usd" from dataframe as argument in the function.
def type_conversion(A):
    category=A.apply(lambda A:'Type-A' if A<5000000 else 'Type-B' if A>=5000000 and A<7000000 else 'Type-C')
    master_dataframe.insert(2,'Type',category)

    
#Calling the User defined function while passing dataframe column as argument.
type_conversion((master_dataframe['raised_amount_usd']))

master_dataframe.head(30)

In [ ]:
master_dataframe.head()